<h1 class="my-4">Список тикеров</h1>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID в БД</th>
            <th>Символ</th>
            <th>Последняя цена</th>
            <th>timestamp</th>
        </tr>
    </thead>
    <tbody>
        {{#each tickers}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.symbol}}</td>
                <td>{{this.price}}</td>
                <td>{{this.timestamp}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>