<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список тикеров</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Список тикеров</h1>
<table>
    <tr>
        <th>ID в БД</th>
        <th>Символ</th>
        <th>Последняя цена</th>
        <th>timestamp</th>
    </tr>
    {{#each tickers}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.symbol}}</td>
            <td>{{this.price}}</td>
            <td>{{this.timestamp}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
</script>
</html>